@use "@/partials/abstracts/mixins" as *;
@use "@/partials/abstracts/variables" as *;

.upload {
  &__buttons {
    display: flex;
    position: fixed;
    bottom: 1rem;
    width: 100%;
    justify-content: center;
    // margin-bottom: 1rem;
  }

  &__picker {
    display: none;
  }

  &__picker::-webkit-file-upload-button {
    visibility: hidden;
  }

  &__paste {
    margin-right: 0.5rem;
  }
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  border: 0.75px solid $black;
  aspect-ratio: 1 / 1;
  margin: 1rem;
}
