@use "@/partials/abstracts/mixins" as *;
@use "@/partials/abstracts/variables" as *;

// moodboard page -> file picker buttons
.upload {
  &__buttons {
    display: flex;
    position: fixed;
    bottom: 1rem;
    width: 100%;
    justify-content: center;
    // margin-bottom: 1rem;
  }

  &__picker {
    display: none;
  }

  &__picker::-webkit-file-upload-button {
    visibility: hidden;
  }

  &__paste {
    margin-right: 0.5rem;
  }
}

// wardrobe page -> react-image-crop + react-dropzone
.crop {
  margin: 1rem;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  border: 0.75px solid $black;
  aspect-ratio: 1 / 1;
  margin: 1rem;
}

.preview {
  width: 100vw;
  object-fit: contain;
  // aspect-ratio: 1 / 1;
  border: 0.75px solid $black;
}

.hidden {
  display: none;
}
