/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

/* Remove styles on links */
a {
  color: inherit;
  text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Tables do not have additional border spacing*/
table {
  border-collapse: collapse;
}

/* Reset Buttons */
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

/* Remove input and text field outlines */
input,
textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  vertical-align: center;
  overflow: hidden;
  padding: 0;
}

/* Centering placeholder text */
input[type="text"]::placeholder {
  text-align: center;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}

/* Relative positioning for date picker
Display block to center date on Safari */
input[type="date"] {
  position: relative;
  display: block;
  text-align: center;
}

/* Make calendar picker take up entire input field.
https://stackoverflow.com/a/45461709/19416953 */
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  background: transparent;
  color: transparent;
  cursor: pointer;
  height: auto;
  width: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}

/* adjust clear button */
input[type="date"]::-webkit-clear-button {
  z-index: 1;
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  -webkit-appearance: none; /* turn off drop-down arrow*/
  -moz-appearance: none;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  text-align-last: center;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  // padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  // font-family: inherit;
  // font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
