@use "@/partials/abstracts/mixins" as *;
@use "@/partials/abstracts/variables" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // height: -webkit-fill-available;

  button {
    margin-right: 1rem;
  }
}
