@use "@/partials/base/typography";
@use "@/partials/base/reset";
@use "@/partials/abstracts/mixins" as *;
@use "@/partials/abstracts/variables" as *;

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 0 1rem;
}

button,
.button {
  color: $black;
  padding: $p0 $p1;
  border: 0.5px solid $black;
  border-radius: 32px;
  background-color: $white;
  text-transform: uppercase;
  width: fit-content;

  @include tablet {
    padding: $p1 $p2;
  }
}

.meatball {
  &__menu {
    background-color: #ffffff;
    padding: 1rem;
    border: 0.5px solid $black;
    text-align: right;
    width: 195px;
    margin-bottom: 2rem;
  }

  &__toggle {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
  }

  &__item {
    text-transform: uppercase;
    padding-bottom: 0.5rem;
  }

  &__add {
    padding-top: 2rem;
  }
}

.blur {
  filter: blur(8px);
}
