@use "@/partials/abstracts/mixins" as *;
@use "@/partials/abstracts/variables" as *;

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 0 1rem;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid $black;
  grid-column: span 2;
  padding: 1rem;
  aspect-ratio: 1 / 1;

  &__title {
    text-align: center;
    text-transform: uppercase;
  }
}
